.loc-icon 
{
	z-index:2000 !important;
}
.faicon span
{
	display:block;
	width:30px;
	height:30px;
	margin:0;
}

.faicon span i
{
	font-size:30px;
	color:#35A020;
}
.loc-icon span
{
	transition: transform 0.4s;
	z-index: 2010;
	background-color: rgba(255,255,255,0.17);
	border-radius: 21px;
    border:1px solid rgba(102,83,67,0.5);
    padding:6px;
    text-align: center;
}
.loc-icon span i
{
	color:#665343;
	font-weight:bold;
}
.faicon.basket-icon, .faicon.basket-icon span
{
	width:50px;
	height:50px;
	text-align: center;
}
.faicon.basket-icon  span i
{
	width:50px;
	height:50px;
	font-size: 50px;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #fff;
}
#title
{
    max-width: 50%;
    overflow: hidden;
}
#title, .pure-button
{
	font-family: 'Alfa Slab One';
	text-transform: none;
	font-style: normal;
  	font-weight: 400;
}
#mini-loader
{
	position:relative;
	top:7px;
	float:left;
}
.pure-button
{
	font-size: 110%;
}
.corner
{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.button-xsmall 
{
            font-size: 70%;
       }

        .button-small {
            font-size: 85%;
        }

        .button-large {
            font-size: 110%;
        }

        .button-xlarge {
            font-size: 125%;
        }


body
{
	background-color: #F5F1E8;
}
.page
{
	display:none;
	padding:50px 2% 100px 2%;
}
#page-map
{
	padding:0 !important;
	margin:0 !important;
	width:100%;
	height:100%;
	position: absolute;
	top:0px;
	left: 0px;
}
.toplogo
{
	font-family: 'Alfa Slab One';
}
.toplogo span
{
	text-transform: lowercase !important;
	font-size: 110%;
}
header
{
	position:fixed;
	top: 0px;
	left:0px;
	z-index: 2000;
}
header .pure-menu-fixed
{
	z-index: 2010 !important;
}
header .pure-menu
{
	background-color: #665343 !important;
}
header .pure-menu-heading span
{
	color:#FFFFFF;
}
.pure-menu img
{
	float:left;
	margin-right:8px;
}
.pure-menu a .pure-menu-heading
{
	margin:0;
	padding:0;
}
.pure-menu span
{
	display:inline !important;
}
.pure-menu .time
{
	font-size:11px;
	display:block;
}
.pure-menu .clear
{
	float:none;
	display:block;
	clear:both;
}
label.nosel input
{
	position:relative;
	left:-150px;
	margin-right:-16px;
}
#menu
{
	position:fixed;
    width:100%;
    z-index: 1100;
    top:42px;
    height:132px
    -webkit-transition-property: top;
    -webkit-transition-duration: 0.1s;
}
.ios #menu
{
    top:62px;
}
#menu.invisible
{
	top:-160px;
	/*display:none;*/
}
#menu .pure-button
{
	color:#4A911D;
	background-color: #F5F1E8;
	box-shadow: none;
}

#menu .pure-button-active,#menu, #menu .pure-button-active:active
{
	color:#665343;
	box-shadow: 0;
}
.pure-button-active, .pure-button:active
{
	box-shadow: 0;
}
.fill
{
	width:100%;
}
#loader
{
	position: absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index: 1000;
	background:rgba(0,0,0,0.5);
}
#loader span
{
	z-index:1100;
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-30px;
	margin-left:-30px;
	display:block;
	width:60px;
	height:60px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	background-image:url(../img/apple_loader.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-color:#FFFFFF;
}
input{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
	-webkit-tap-highlight-color: transparent;
}
.green
{
	color:#68B12C !important;
}
.beige
{
	color:#F5F1E8 !important;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
} 
body .statusbar
{
	display:none;
	background-color: #FFF;
	height:20px;
	z-index: 2000;
	top:0px;
	position: fixed;
	left:0px;
	width:100%;
}
body.ios
{
	margin-top:20px;
}
body.ios .statusbar
{
	display:block;
}
body.ios header .pure-menu-fixed, body.ios header
{
	top:20px;
}

.leaflet-right
{
	display:none !important;
}
.footer
{
	position: fixed;
	bottom:0px;
	left:0px;
	width:100%;
	padding:0;
	background-color: #FFFFFF;
}
#msg-control input
{
	padding:8px;
	font-size:13px;
	border:0;
}
ul.contacts, ul.contacts li, ul.contacts li a
{
	list-style:none;
	display:block;
	margin:0;
	padding:0;
}
ul.contacts li a
{
	text-decoration: none;
}
ul.contacts li, #chat-loader
{
	background-color:#FFFFFF;
	padding:8px;
	margin-top:8px;
	border-radius:8px;
}
#chat-loader
{
	height:50px;
	text-align:center;
}
ul.contacts li span
{
	display:block;
	margin:0;
	padding:0;
}
ul.contacts li span.photo
{
	float:left;
	margin-right:8px;
}
ul.contacts li span.text
{
	float:left;
	color:#665343;
	font-size:13px;
}
ul.contacts li span.msg
{
	
}
ul.contacts li span.info
{
	font-size:11px;
	color:#aba8a2;
}
ul.contacts li span.clear
{
	clear:both;
}
.checkbox
{
	color:#665343 !important;
}
.checkbox.checked
{
	font-weight:bold;
}

*{
-webkit-backface-visibility: hidden;
}