.loc-icon 
{
	z-index:2000 !important;
}
.faicon span
{
	display:block;
	width:30px;
	height:30px;
	margin:0;
}

.faicon span i
{
	font-size:30px;
	color:#35A020;
}
.loc-icon span
{
	transition: transform 0.4s;
	z-index: 2010;
	background-color: rgba(255,255,255,0.17);
	border-radius: 21px;
    border:1px solid rgba(102,83,67,0.5);
    padding:6px;
    text-align: center;
}
.loc-icon span i
{
	color:#665343;
	font-weight:bold;
}
.faicon.basket-icon, .faicon.basket-icon span
{
	width:50px;
	height:50px;
	text-align: center;
}
.faicon.basket-icon  span i
{
	width:50px;
	height:50px;
	font-size: 50px;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #fff;
}
#title
{
    max-width: 50%;
    overflow: hidden;
}
#title, .pure-button
{
	font-family: 'Alfa Slab One';
	text-transform: none;
	font-style: normal;
  	font-weight: 400;
}
.mini-loader
{
	position:relative;
	top:2px;
}
.pure-button
{
	font-size: 110%;
}
.corner
{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.button-xsmall 
{
            font-size: 70%;
       }

        .button-small {
            font-size: 85%;
        }

        .button-large {
            font-size: 110%;
        }

        .button-xlarge {
            font-size: 125%;
        }


body
{
	background-color: #F5F1E8;
}
.page
{
	display:none;
	padding:50px 2% 100px 2%;
}
#page-map
{
	padding:0 !important;
	margin:0 !important;
	width:100%;
	height:100%;
	position: absolute;
	top:0px;
	left: 0px;
}
.toplogo
{
	font-family: 'Alfa Slab One';
}
.toplogo span
{
	text-transform: lowercase !important;
	font-size: 110%;
}
header
{
	position:fixed;
	top: 0px;
	left:0px;
	z-index: 2000;
}
header .pure-menu-fixed
{
	z-index: 2010 !important;
}
header .pure-menu
{
	background-color: #665343 !important;
}
header .pure-menu-heading span
{
	color:#FFFFFF;
}
.pure-menu img
{
	float:left;
	margin-right:8px;
}
.pure-menu a .pure-menu-heading
{
	margin:0;
	padding:0;
}
.pure-menu span
{
	
}
.pure-menu .time
{
	font-size:11px;
	display:block;
}
.pure-menu .clear
{
	float:none;
	display:block;
	clear:both;
}
#menu
{
	position:fixed;
    width:100%;
    z-index: 1100;
    top:42px;
    height:132px
    -webkit-transition-property: top;
    -webkit-transition-duration: 0.1s;
}
#menu.invisible
{
	top:-160px;
}
#menu .pure-button
{
	color:#665343;
	background-color: #A9A59C;
	box-shadow: 0;
}

#menu .pure-button-active,#menu, #menu .pure-button-active:active
{
	color:#4A911D;
	background-color: #F5F1E8;
	box-shadow: none;
}
.pure-button-active, .pure-button:active
{
	box-shadow: 0;
}
.fill
{
	width:100%;
}
#loader
{
	position: absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index: 1000;
	background:rgba(0,0,0,0.5);
}
#loader span
{
	z-index:1100;
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-30px;
	margin-left:-30px;
	display:block;
	width:60px;
	height:60px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	background-image:url(../img/apple_loader.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-color:#FFFFFF;
}
input{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
	-webkit-tap-highlight-color: transparent;
}
.green
{
	color:#68B12C !important;
}
.beige
{
	color:#F5F1E8 !important;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
} 
body .statusbar
{
	display:none;
	background-color: #FFF;
	height:20px;
	z-index: 2000;
	top:0px;
	position: fixed;
	left:0px;
	width:100%;
}
body.ios
{
	margin-top:20px;
}
body.ios .statusbar
{
	display:block;
}
body.ios header .pure-menu-fixed, body.ios header
{
	top:20px;
}

.leaflet-right
{
	display:none !important;
}
.footer
{
	position: fixed;
	bottom:0px;
	left:0px;
	width:100%;
	padding:0;
	background-color: #FFFFFF;
}
#msg-control input
{
	padding:10px;
	font-size:13px;
}
ul#conversation, ul#conversation li
{
	list-style:none;
	display:block;
	margin:0;
	padding:0;
}
ul#conversation li
{
	background-color:#FFFFFF;
	padding:8px;
	margin-top:8px;
	border-radius:8px;
}
ul#conversation li span
{
	display:block;
	margin:0;
	padding:0;
}
ul#conversation li span.photo
{
	float:left;
	margin-right:8px;
}
ul#conversation li span.text
{
	float:left;
	color:#665343;
	font-size:13px;
}
ul#conversation li span.msg
{
	
}
ul#conversation li span.info
{
	font-size:11px;
	color:#aba8a2;
}
ul#conversation li span.clear
{
	clear:both;
}
/*
 * Loader
 */
.bubblingG {
text-align: center;
width:38px;
height:20px;
float:left;
}

.bubblingG span {
display: inline-block;
vertical-align: middle;
width: 5px;
height: 5px;
margin: 12px auto;
background: #FFFFFF;
-moz-border-radius: 24px;
-moz-animation: bubblingG 1.3s infinite alternate;
-webkit-border-radius: 24px;
-webkit-animation: bubblingG 1.3s infinite alternate;
-ms-border-radius: 24px;
-ms-animation: bubblingG 1.3s infinite alternate;
-o-border-radius: 24px;
-o-animation: bubblingG 1.3s infinite alternate;
border-radius: 24px;
animation: bubblingG 1.3s infinite alternate;
}

#bubblingG_1 {
-moz-animation-delay: 0s;
-webkit-animation-delay: 0s;
-ms-animation-delay: 0s;
-o-animation-delay: 0s;
animation-delay: 0s;
}

#bubblingG_2 {
-moz-animation-delay: 0.39s;
-webkit-animation-delay: 0.39s;
-ms-animation-delay: 0.39s;
-o-animation-delay: 0.39s;
animation-delay: 0.39s;
}

#bubblingG_3 {
-moz-animation-delay: 0.78s;
-webkit-animation-delay: 0.78s;
-ms-animation-delay: 0.78s;
-o-animation-delay: 0.78s;
animation-delay: 0.78s;
}

@-moz-keyframes bubblingG {
0% {
width: 5px;
height: 5px;
background-color:#FFFFFF;
-moz-transform: translateY(0);
}

100% {
width: 11px;
height: 11px;
background-color:#665343;
-moz-transform: translateY(-10px);
}

}

@-webkit-keyframes bubblingG {
0% {
width: 5px;
height: 5px;
background-color:#FFFFFF;
-webkit-transform: translateY(0);
}

100% {
width: 11px;
height: 11px;
background-color:#665343;
-webkit-transform: translateY(-10px);
}

}

@-ms-keyframes bubblingG {
0% {
width: 5px;
height: 5px;
background-color:#FFFFFF;
-ms-transform: translateY(0);
}

100% {
width: 11px;
height: 11px;
background-color:#665343;
-ms-transform: translateY(-10px);
}

}

@-o-keyframes bubblingG {
0% {
width: 5px;
height: 5px;
background-color:#FFFFFF;
-o-transform: translateY(0);
}

100% {
width: 11px;
height: 11px;
background-color:#665343;
-o-transform: translateY(-10px);
}

}

@keyframes bubblingG {
0% {
width: 5px;
height: 5px;
background-color:#FFFFFF;
transform: translateY(0);
}

100% {
width: 11px;
height: 11px;
background-color:#665343;
transform: translateY(-10px);
}

}

