#title
{
    max-width: 50%;
    overflow: hidden;
}
#title, .pure-button
{
	font-family: 'Alfa Slab One';
	text-transform: none;
	font-style: normal;
  	font-weight: 400;
}
.mini-loader
{
	position:relative;
	top:2px;
}
.pure-button
{
	font-size: 110%;
}
.corner
{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.button-xsmall 
{
            font-size: 70%;
       }

        .button-small {
            font-size: 85%;
        }

        .button-large {
            font-size: 110%;
        }

        .button-xlarge {
            font-size: 125%;
        }


body
{
	background-color: #F5F1E8;
}
.page
{
	display:none;
	padding:40px 2% 100px 2%;
}
#page-map
{
	padding:0 !important;
	margin:0 !important;
	width:100%;
	height:100%;
	position: absolute;
	top:0px;
	left: 0px;
}
.toplogo
{
	font-family: 'Alfa Slab One';
}
.toplogo span
{
	text-transform: lowercase !important;
	font-size: 110%;
}
header
{
	position:fixed;
	top: 0px;
	left:0px;
	z-index: 2000;
}
header .pure-menu-fixed
{
	z-index: 2010 !important;
}
header .pure-menu
{
	background-color: #665343 !important;
}
header .pure-menu-heading span
{
	color:#FFFFFF;
}
footer
{
	position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    z-index: 100;
}
footer div
{
	
}
footer .pure-button
{
	color:#665343;
	background-color: #A9A59C;
	box-shadow: 0;
}

footer .pure-button-active,footer, footer .pure-button-active:active
{
	color:#4A911D;
	background-color: #F5F1E8;
	box-shadow: none;
}
.pure-button-active, .pure-button:active
{
	box-shadow: 0;
}
.fill
{
	width:100%;
}
#loader
{
	position: absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index: 1000;
	background:rgba(0,0,0,0.5);
}
#loader span
{
	z-index:1100;
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-30px;
	margin-left:-30px;
	display:block;
	width:60px;
	height:60px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	background-image:url(../img/apple_loader.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-color:#FFFFFF;
	border:3px solid #665343;
}
input{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
	-webkit-tap-highlight-color: transparent;
}
.green
{
	color:#68B12C !important;
}
.beige
{
	color:#F5F1E8 !important;
}


/*
 * Loader
 */
.bubblingG {
text-align: center;
width:38px;
height:20px;
float:left;
}

.bubblingG span {
display: inline-block;
vertical-align: middle;
width: 5px;
height: 5px;
margin: 12px auto;
background: #FFFFFF;
-moz-border-radius: 24px;
-moz-animation: bubblingG 1.3s infinite alternate;
-webkit-border-radius: 24px;
-webkit-animation: bubblingG 1.3s infinite alternate;
-ms-border-radius: 24px;
-ms-animation: bubblingG 1.3s infinite alternate;
-o-border-radius: 24px;
-o-animation: bubblingG 1.3s infinite alternate;
border-radius: 24px;
animation: bubblingG 1.3s infinite alternate;
}

#bubblingG_1 {
-moz-animation-delay: 0s;
-webkit-animation-delay: 0s;
-ms-animation-delay: 0s;
-o-animation-delay: 0s;
animation-delay: 0s;
}

#bubblingG_2 {
-moz-animation-delay: 0.39s;
-webkit-animation-delay: 0.39s;
-ms-animation-delay: 0.39s;
-o-animation-delay: 0.39s;
animation-delay: 0.39s;
}

#bubblingG_3 {
-moz-animation-delay: 0.78s;
-webkit-animation-delay: 0.78s;
-ms-animation-delay: 0.78s;
-o-animation-delay: 0.78s;
animation-delay: 0.78s;
}

@-moz-keyframes bubblingG {
0% {
width: 5px;
height: 5px;
background-color:#FFFFFF;
-moz-transform: translateY(0);
}

100% {
width: 11px;
height: 11px;
background-color:#665343;
-moz-transform: translateY(-10px);
}

}

@-webkit-keyframes bubblingG {
0% {
width: 5px;
height: 5px;
background-color:#FFFFFF;
-webkit-transform: translateY(0);
}

100% {
width: 11px;
height: 11px;
background-color:#665343;
-webkit-transform: translateY(-10px);
}

}

@-ms-keyframes bubblingG {
0% {
width: 5px;
height: 5px;
background-color:#FFFFFF;
-ms-transform: translateY(0);
}

100% {
width: 11px;
height: 11px;
background-color:#665343;
-ms-transform: translateY(-10px);
}

}

@-o-keyframes bubblingG {
0% {
width: 5px;
height: 5px;
background-color:#FFFFFF;
-o-transform: translateY(0);
}

100% {
width: 11px;
height: 11px;
background-color:#665343;
-o-transform: translateY(-10px);
}

}

@keyframes bubblingG {
0% {
width: 5px;
height: 5px;
background-color:#FFFFFF;
transform: translateY(0);
}

100% {
width: 11px;
height: 11px;
background-color:#665343;
transform: translateY(-10px);
}

}
*:focus{
	outline: 0;
}
